.App {
  text-align: center;
}

.container{
  display: flex;
  flex-direction:column;
  
}

.nav{
  display: flex;
  background-color: rgb(133, 127, 255);
  height: 8vh;
  
}

.title{
  display: flex;
  flex-grow: 1;
  justify-content:center;
  align-items:center;
  
}
.navigation{
  display: flex;
  align-items:center;
}

.bloglink{
  margin-left: 20px;
}

.create{
  text-align: center;
}